.main {
    display: flex;
    flex: 1;
    /* Dice di prendere lo spazio rimanente e di adattarsi se rimpicciolisce */
    flex-direction: column;
    gap: 20px;
}

.root-category-block {
    box-shadow: var(--primary-color) 0 0 5px;
    border-radius: 12px;
    padding: 12px;

    a {
        text-decoration: none;
    }

    h2 {
        margin: 0;
    }

    p {
        margin: 0;
        margin-bottom: 4px;
        font-size: 13px;
    }
}

.category {
    border-bottom: solid var(--primary-color);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.category-main {
    display: flex;
    flex-direction: column;
    flex: 1;

    a {
        text-decoration: none;
        color: var(--primary-color);
        margin-top: 12px;
        font-size: 18px;
        font-family: "Bitcount Single";
    }

    h4 {
        margin: 0;
    }
}

.category-stat {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 4px;
    align-items: center;
    font-family: "Bitcount Single";
    color: var(--primary-color);
    align-items: end;
}

.side {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1000px) {
    .side {
        display: none;
    }
}

.online-users,
.latest-threads {
    height: auto;
    box-shadow: var(--primary-color) 0 0 5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.online-users {
    max-height: 500px;
    overflow-y: auto;
}

.latest-threads {
    flex-grow: 1;
}

.user,
.thread {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.admin {
    font-weight: bold;
    color: var(--tertiary-color);
}

.moderator {
    font-weight: bold;
    color: var(--primary-color);
}

.thread {

    margin: 10px;

    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 16px;
    }
}