.main {
    display: flex;
    flex: 1;
    /* Dice di prendere lo spazio rimanente e di adattarsi se rimpicciolisce */
    flex-direction: column;
    gap: 20px;
}

.root-category-block {
    box-shadow: var(--primary-color) 0 0 5px;
    border-radius: 12px;
    padding: 12px;

    a {
        text-decoration: none;
    }

    h2 {
        display: inline-block;
        margin: 0;
        transition: all 0.3s ease;
    }

    h4 {
        display: inline-block;
        transition: all 0.3s ease;
    }

    h2:hover,
    h4:hover {
        transform: translateX(5px);
    }

    p {
        margin: 0;
        margin-bottom: 4px;
        font-size: 13px;
    }
}

.category {
    border-bottom: solid var(--primary-color);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.category-main {
    display: flex;
    flex-direction: column;
    flex: 1;

    a {
        text-decoration: none;
        color: var(--primary-color);
        margin-top: 12px;
        font-size: 18px;
        font-family: "Bitcount Single";
    }

    h4 {
        margin: 0;
    }
}

.category-stat {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 4px;
    font-family: "Bitcount Single";
    color: var(--primary-color);
    align-items: end;
}

.side {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1000px) {
    .side {
        display: none;
    }
}

.online-users,
.latest-threads {
    height: auto;
    box-shadow: var(--primary-color) 0 0 5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    flex-grow: 1;

    h3 {
        margin-top: 8px;
        margin-bottom: 3px;
        border-bottom: solid var(--primary-color);
    }
}

.online-users {
    max-height: 35vh;
    align-items: stretch;
}

.side-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.users {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

.users::-webkit-scrollbar {
    width: 6px;
}

.users::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}

.users::-webkit-scrollbar-track {
    background: transparent;
}

.user,
.thread {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.admin {
    font-weight: bold;
    color: var(--tertiary-color);
}

.moderator {
    font-weight: bold;
    color: var(--primary-color);
}

.thread {

    box-shadow: var(--primary-color) 0 0 5px;
    border-radius: 12px;
    padding: 6px;
    margin: 10px 10px;
    transition: all 0.3s ease;

    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 16px;
        position: relative;
    }

    /* position: relative di a e ::after servono a rendere l'area di a cliccabile maggiore (pari al tasto) */
    a::after {
        content: "";
        position: absolute;
        inset: -14px;
    }
}

.thread:hover {
    transform: scale(1.05);
}