.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Sfondo semi-trasparente */
    z-index: 2000;
    /* Sopra a navbar*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 7, 9, 0.36);;
}

.modal-content {
    position: relative;
    background: var(--light-bg-color);
    border-radius: 12px;
    width: 90%;
    max-width: 350px;
    box-shadow: var(--light-bg-color) 0 0 5px;
    padding: 20px 30px;
    z-index: 2001;
    text-align: center;
    color: var(--primary-color);
}

.close-btn-div {
    display: block;
    text-align: right;
}

.close-btn {
    font-size: 2rem;
    cursor: pointer;
    /* disabilità la possibilità di selezionare testo */
    user-select: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
    margin: 10px 0;
}

input {
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-indent: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    background-color: var(--light-bg-color);
}

.modal-content h2 {
    margin: 0;
    font-family: 'Bitcount Single';
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.modal-content a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.btn-submit {
    margin-top: 10px;
    padding: 10px 0px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    background-color: var(--primary-color);
    color: #f4f4f4;
    font-weight: bold;
}

.btn-submit:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.switch-text a:hover {
    color: var(--primary-color);
}