.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* Sfondo semi-trasparente */
    z-index: 1000;
    /* Sopra a tutto */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
    ;
}