.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Sfondo semi-trasparente */
    z-index: 2000;
    /* Sopra a navbar*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 7, 9, 0.36);
}

.modal-content {
    position: relative;
    background: var(--light-bg-color);
    border-radius: 12px;
    width: 90%;
    max-width: 350px;
    box-shadow: var(--light-bg-color) 0 0 5px;
    padding: 20px 30px;
    z-index: 2001;
    text-align: center;
    color: var(--primary-color);
    animation-name: modalIn;
    animation-timing-function: ease;
    animation-duration: 0.5s;
}

/* riduce la dimensione del modale quando lo schermo è troppo piccolo per non farlo apparire a tutto schermo */
@media (max-width: 768px) {
    .modal-content {
        width: 60%;
    }
}

@keyframes modalIn {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

.close-btn-div {
    display: block;
    text-align: right;
}

.close-btn {
    font-size: 2rem;
    cursor: pointer;
    /* disabilità la possibilità di selezionare testo */
    user-select: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
    margin: 10px 0;
}

input {
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-indent: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background-color: var(--light-bg-color);
}

.modal h2 {
    margin: 0;
    font-family: 'Bitcount Single';
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.modal a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.btn-submit {
    margin-top: 10px;
    padding: 10px 5px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background-color: var(--primary-color);
    color: #f4f4f4;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.switch-text a:hover {
    color: var(--primary-color);
}

.error-box {
    border-radius: 12px;
    border: 1px solid #DC2626;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.error-box p {
    margin: 8px;
}

/* CSS per il modale new thread */

.thread-modal-content {
    position: relative;
    background: var(--light-bg-color);
    border-radius: 12px;
    width: 600px;
    max-width: 90%;
    box-shadow: var(--light-bg-color) 0 0 5px;
    padding: 20px 30px;
    z-index: 2001;
    text-align: center;
    color: var(--primary-color);
    animation-name: modalIn;
    animation-timing-function: ease;
    animation-duration: 0.5s;
}

.thread-modal-content textarea {
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background-color: var(--light-bg-color);
    resize: vertical;
}

#fileInput {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    margin-top: 15px;
}

.drop-zone {
    border-radius: 12px;
    border: 2px dashed var(--primary-color);
    height: 70px;
    text-align: center;
    align-content: center;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.drop-zone--over {
    background-color: var(--light-text-secondary-color);
}

.thumbnail-container {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    overflow: hidden;
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}


/* CSS per il modale preview immagine */

/* Sfondo del modal */
.image-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 7, 9, 0.575);
    animation-name: imageOverlayIn;
    animation-duration: 0.2s;
}

/* Immagine grande */
.image-modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

/* Tasto chiudi */
.image-close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2001;
}

@keyframes imageOverlayIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}