.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-title-color);
  padding: 10px 20px;
  transition: background-color 0.3s ease, padding 0.3s ease;
  /* disabilità la possibilità di selezionare testo */
  user-select: none;
}

/* Navbar scrolling animation */
.scrolled {
  padding: 0 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background: rgba(15, 23, 42, 0.55);
  backdrop-filter: blur(20px);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

/* aggiungi il margin a sinistra solo dal secondo elemento della lista in poi*/
nav li+li {
  margin-left: 10px;
}

.nav-links {
  height: 35px;
  padding: 0;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Bitcount Single";
  padding-top: 4px !important;
  /* disabilità la possibilità di selezionare testo */
  user-select: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/* Le due regole css seguenti servono a rendere cliccabile tutto il li senza dover necessariamente cliccare sul testo di a */
nav li a {
  position: relative;
}

nav li a::after {
  content: "";
  position: absolute;
  inset: -10px;
}

/* ---- */

.login-btn,
.thread-btn {
  height: inherit;
  border: 2px solid var(--light-bg-color);
  border-radius: 20px;
  padding: 0 10px;
  align-content: center;
  text-align: center;
  /* disabilità la possibilità di selezionare testo */
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  svg {
    fill: var(--light-bg-color);
    transition: fill 0.3s ease, color 0.3s ease;
  }
}

#newThreadBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  p {
    all: unset;
    margin-top: 1px;
  }
}

@media (max-width: 650px) {
  .thread-btn {
    font-size: 0;
    aspect-ratio: 1;
    padding: 0;
  }

  input.search-bar {
    font-size: medium !important;
    padding: 8px !important;
    text-indent: 0;
  }
}

.login-btn:hover,
.thread-btn:hover {
  background-color: var(--light-bg-color);
  color: var(--primary-color);
  cursor: pointer;

  svg {
    fill: var(--primary-color);
  }
}

/* Avatar e dropdown */

.avatar-container {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--light-bg-color);
}

.avatar {
  width: inherit;
  border-radius: inherit;
  text-align: center;
  align-content: center;
  transition: box-shadow 0.2s linear;
  /* disabilità la possibilità di selezionare testo */
  user-select: none;
}

.avatar:hover {
  cursor: pointer;
  box-shadow: var(--light-bg-color) 0 0 8px;
}

.user-menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}


.user-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 15px;
  /* Spazio dall'avatar */
  width: 200px;
  background-color: var(--light-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 1500;
  padding: 10px;
  animation-name: dropdownIn;
  animation-duration: 0.3s;
}

@keyframes dropdownIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.dropdown-header {
  text-align: center;
  color: var(--primary-color);
  font-family: 'Bitcount Single';
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.user-dropdown-menu ul {
  all: unset;
  display: flex;
  gap: 5px 0;
  flex-direction: column;
  align-items: center;
  color: black;
}

.user-dropdown-menu li {
  padding: 0;
  margin: 0;
}

.divider {
  height: 2px;
  width: 90%;
  background-color: var(--light-text-secondary-color);
}

.logout-link {
  font-weight: bold;
  color: #DC2626;
}

.user-dropdown-menu a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.user-dropdown-menu a:hover {
  transform: scale(1.1);

}

.search-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.search-wrapper form {
  width: 100%;
  display: flex;
}

input.search-bar {
  margin: 0;
  height: inherit;
  border-radius: 20px;
  border: 2px solid var(--light-bg-color);
  background-color: transparent;
  color: var(--light-title-color);
  outline: none;
  font-weight: normal;
  padding: 7px 0;
  font-size: 16px;
  transition: box-shadow 0.2s linear;
}

input.search-bar::placeholder {
  color: var(--light-text-secondary-color);
  font-weight: normal !important;
}

input.search-bar:hover {
  box-shadow: var(--light-bg-color) 0 0 8px;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--light-bg-color);
  color: var(--primary-color);
  border-radius: 20px;
  padding: 10px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

  max-height: 300px;
  overflow-y: auto;

  animation-name: suggestionsIn;
  animation-duration: 0.3s;
}

@keyframes suggestionsIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Stile per i link dentro il dropdown */
.search-dropdown a {
  display: block;
  padding: 10px 20px;
  color: inherit;
  text-decoration: none;
  transition: background 0.3s ease;
}

.search-dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.search-dropdown .no-results {
  display: block;
  padding: 10px 20px;
  color: inherit;
}