.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f4f4f4;
  padding: 10px 30px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

/* Navbar scrolling animation */
.scrolled {
  padding: 0 40px;
  background-color: linear-gradient(135deg, #50616d 0%, #2c353a 100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

navbar li {
  margin-left: 20px;
}

.nav-links {
  height: 35px;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Bitcount Single";
  padding-top: 4px !important;
}

navbar a {
  text-decoration: none;
  color: inherit;
}

.login-btn {
  height: inherit;
  border: 2px solid #f4f4f4;
  border-radius: 20px;
  padding: 0 10px;
  align-content: center;
  text-align: center;
}

.login-btn:hover {
  background-color: #f4f4f4;
  color: #50616d;
  cursor: pointer;
}

.avatar {
  border: solid 2px #f4f4f4;
  aspect-ratio: 1;
  height: inherit;
  text-align: center;
  align-content: center;
  border-radius: 50%;
}

navbar .avatar:hover {
  cursor: pointer;
  box-shadow: #f4f4f4 0 0 5px;
}