@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui;
    background-color: #f4f4f4;
}

.gradient-box {
    margin: 0;
    background: linear-gradient(135deg, #50616d 0%, #2c353a 100%);
    height: 100vh;
    align-content: center;
    text-align: center;
}

.gradient-box h1 {
    font-family: 'Bitcount Single', system-ui;
    font-weight: normal;
    font-size: 5vh;
    margin: 0;
    color: white;
}