/* Palette:
    #50616d
    #3b4b52
    #2c353a */

/* font bitcount-single regular */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single&display=swap');

body {
    margin: 0;
    padding: 0;
}

.bitcount-single {
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.navbar {
    display: flex;
    background-color: #50616d;
    height: 50px;
    justify-content: space-between;

    align-items: center;
    padding: 0 40px;
    /* padding orizzontale */
    position: sticky;
    top: 0;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-login {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar-login:hover {}