@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

.bitcount-single {
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Segoe UI', system-ui;
    color: #f4f4f4;
}

.classe {

    background: linear-gradient(135deg, #50616d 0%, #2c353a 100%);
}

.logo {
    height: 100vh;
    margin: 0;
    padding-top: 3px;
    color: white;
}