/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bitcount Single */
@font-face {
    font-family: 'Bitcount Single';
    src: url('../fonts/BitcountSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #334E68;
    --secondary-color: #1E293B;
    --tertiary-color: #0F172A;
    --accent-color: #3B82F6;
    --accent-hover-color: #2563EB;

    --light-bg-color: #F8FAFC;

    --light-title-color: #F8FAFC;
    --light-text-color: #E2E8F0;
    --light-text-secondary-color: #CBD5E1;

    --dark-title-color: #0F172A;
    --dark-text-color: #64748B;
    --dark-text-secondary-color: #94A3B8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-gradient {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg, var(--tertiary-color) 0%, var(--secondary-color) 50%, var(--primary-color) 100%);
}

#animatedWelcome {
    font-family: 'Bitcount Single';
    font-weight: normal;
    color: var(--light-title-color);
    font-size: 3rem;
}


.welcome {
    display: flex;
    height: 100vh;
    align-items: center;
}

.content {
    margin-top: 120px;
    margin-bottom: 100px;
    width: 75%;
    padding: 20px;
    background-color: var(--light-bg-color);
    border-radius: 12px;
    box-shadow: var(--light-bg-color) 0 0 5px;
}

.hidden {
    display: none !important;
}

.error {
    color: #DC2626;
}