@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', system-ui;
    color: #f4f4f4;
    background-color: black;
}