/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Bitcount Single */
@font-face {
    font-family: 'Bitcount Single';
    src: url('../fonts/BitcountSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #334E68;
    --secondary-color: #1E293B;
    --tertiary-color: #0F172A;
    --accent-color: #3B82F6;
    --accent-hover-color: #2563EB;

    --light-bg-color: #F8FAFC;

    --light-title-color: #F8FAFC;
    --light-text-color: #E2E8F0;
    --light-text-secondary-color: #CBD5E1;

    --dark-title-color: #0F172A;
    --dark-text-color: #64748B;
    --dark-text-secondary-color: #94A3B8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitcount Single';
    color: var(--primary-color);
}

.bg-gradient {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg, var(--tertiary-color) 0%, var(--secondary-color) 50%, var(--primary-color) 100%);
}


.content {
    margin-top: 120px;
    margin-bottom: 100px;
    width: 75%;
    padding: 20px;
    background-color: var(--light-bg-color);
    border-radius: 12px;
    box-shadow: var(--light-bg-color) 0 0 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.thread-content {
    margin-top: 120px;
    margin-bottom: 100px;
    width: 75%;
    padding: 20px;
    background-color: var(--light-bg-color);
    border-radius: 12px;
    box-shadow: var(--light-bg-color) 0 0 5px;
    flex-grow: 1;
}


.hidden {
    display: none !important;
}

.error {
    color: #DC2626;
}

/* DA LEVARE DA QUI ???? */

.thread-header h1 {
    margin: 0;
    font-family: 'Bitcount Single';
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.thread-header p {
    margin-top: 0;
}

.post strong {
    font-family: 'Bitcount Single';
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
}

.post small {
    color: var(--primary-color);
}

.post .badge-op {
    font-weight: bold;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: var(--primary-color) 0 0 8px;
}

.post.op {
    background-color: var(--dark-text-secondary-color);
    /* Per fare override del bordo per i post normali non OP */
    border: unset;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.post.op small {
    color: var(--light-title-color);
}

.post-content-attachments {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    flex: 1;
}

.post-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.post-content {
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--light-text-secondary-color);
    min-height: 100px;
}

.post-content p {
    margin: 0;
}

.post-image {
    border-radius: 12px;
    object-fit: cover;
    width: 150px;
    height: 100px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.post-image:hover {
    opacity: 0.8;
}

.attachments {
    display: flex;
    flex-flow: wrap row;
    gap: 0 20px;
}

.replies-container {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.replies-container h3 {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .post {
        flex-direction: column;
        gap: 10px 0;
    }

    .post-image {
        width: 100px;
    }

    .post-user-info {
        width: auto;
    }
}

.user-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}

/* REPLY BUTTON E FORM */

.reply-button-div {
    text-align: right;
}

.reply-button-div a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    padding: 5px 8px;
    color: var(--light-title-color);
    background-color: var(--primary-color);
    box-shadow: var(--primary-color) 0 0 8px;
    transition: all 0.3s ease;
}

.reply-button-div a:hover {
    transform: scale(1.1);
}

.reply-box {
    display: flex;
    flex-direction: column;
}

.close-reply-btn {
    margin-top: 10px;
    padding: 10px 5px;
    border: 1px solid var(--light-text-secondary-color);
    border-radius: 12px;
    background-color: var(--light-bg-color);
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: var(--light-text-secondary-color) 0 0 8px;
}

.close-reply-btn:hover {
    background-color: var(--light-text-secondary-color);
    cursor: pointer;
}

.reply-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0 10px;
}

.reply-box h3 {
    margin-bottom: 0px;
}

.reply-box textarea {
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-indent: 10px each-line;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background-color: var(--light-bg-color);
    resize: vertical;
}

.reply-box button.btn-submit {
    box-shadow: var(--primary-color) 0 0 8px;
}