/* Palette:
    #50616d
    #3b4b52
    #2c353a */

/* font bitcount-single regular */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    background: linear-gradient(135deg, #50616d 0%, #2c353a 100%);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    /* Prevent text touching edges on small screens */
}

.bitcount-single {
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease, padding 0.3s ease;
    background-color: transparent;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;

    z-index: 1000;
}

.navbar.scrolled {
    background-color: #222;
    padding: 10px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-logo {
    font-size: 28px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-login {
    padding: 8px 20px;
    border-radius: 20px;
    border: 2px solid white;

    transition: all 0.3 ease;
}

.navbar-login:hover {
    background-color: white;
    color: #222 !important;
}