/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Bitcount Single */
@font-face {
    font-family: 'Bitcount Single';
    src: url('../fonts/BitcountSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #334E68;
    --secondary-color: #1E293B;
    --tertiary-color: #0F172A;
    --accent-color: #3B82F6;
    --accent-hover-color: #2563EB;

    --light-bg-color: #F8FAFC;

    --light-title-color: #F8FAFC;
    --light-text-color: #E2E8F0;
    --light-text-secondary-color: #CBD5E1;

    --dark-title-color: #0F172A;
    --dark-text-color: #64748B;
    --dark-text-secondary-color: #94A3B8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitcount Single';
    color: var(--primary-color);
}

.bg-gradient {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg, var(--tertiary-color) 0%, var(--secondary-color) 50%, var(--primary-color) 100%);
}


.content {
    margin-top: 120px;
    margin-bottom: 100px;
    width: 75%;
    padding: 20px;
    background-color: var(--light-bg-color);
    border-radius: 12px;
    box-shadow: var(--light-bg-color) 0 0 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

/* IL CONTENUTO DA SPOSTARE IN UN ALTRO FILE PER ORDINARE MEGLIO */

.main {
    display: flex;
    flex: 1;
    /* Dice di prendere lo spazio rimanente e di adattarsi se rimpicciolisce */
    flex-direction: column;
    gap: 20px;
}

.category-block {
    box-shadow: var(--primary-color) 0 0 5px;
    border-radius: 12px;
    padding: 12px;

    h2 {
        margin: 0;
    }
}

.thread {
    border-bottom: solid var(--primary-color);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.thread-main {
    display: flex;
    flex-direction: column;
    flex: 1;

    a {
        text-decoration: none;
        color: var(--primary-color);
        margin-top: 12px;
        font-size: 18px;
        font-family: "Bitcount Single";
    }

    p {
        margin: 0;
        margin-bottom: 4px;
        font-size: 13px;
    }
}

.thread-stat {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 4px;
    align-items: center;
    font-family: "Bitcount Single";
    color: var(--primary-color);
}

.side {
    width: 190px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .side {
        display: none;
    }
}

.online-users {
    box-shadow: var(--primary-color) 0 0 5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.admin {
    font-weight: bold;
    color: var(--tertiary-color);
}

.moderator {
    font-weight: bold;
    color: var(--primary-color);
}

/* fine roba da levare da qui */

.hidden {
    display: none !important;
}

.error {
    color: #DC2626;
}

.thread-header h1 {
    margin: 0;
    font-family: 'Bitcount Single';
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.thread-header p {
    margin-top: 0;
}

.post strong {
    font-family: 'Bitcount Single';
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
}

.post small {
    color: var(--light-title-color);
}

.post .badge-op {
    font-weight: bold;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    padding: 20px;
    border-radius: 12px;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.post.op {
    background-color: var(--dark-text-secondary-color);
}

.post-content-attachments {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    flex: 1;
}

.post-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-content {
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--light-text-secondary-color);
    min-height: 100px;
}

.post-content p {
    margin: 0;
}

.post-image {
    border-radius: 12px;
    object-fit: cover;
    width: 150px;
    height: 100px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.post-image:hover {
    opacity: 0.8;
}

.attachments {
    display: flex;
    flex-flow: wrap row;
    gap: 0 20px;
}

.replies-container h3 {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .post {
        flex-direction: column;
        gap: 10px 0;
    }

    .post-image {
        width: 100px;
    }
}

.user-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}