.category {
    display: flex;
    flex: 1;
    /* Dice di prendere lo spazio rimanente e di adattarsi se rimpicciolisce */
    flex-direction: column;
    gap: 20px;
}

.category-header {
    h1 {
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 16px;
    }
}

.thread-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .thread {
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        box-shadow: var(--primary-color) 0 0 5px;
        border-radius: 12px;
        padding: 12px;
        justify-content: space-between;
    }

    .thread-main {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            text-decoration: none;
        }

        h3 {
            margin: 0;
            display: inline-block;
            transition: all 0.3s ease;
        }

        h3:hover {
            transform: translateX(5px);
        }

        p {
            margin: 0;
            font-size: 13px;
        }
    }

    .author-avatar {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--primary-color);
    }

    .thread-stats {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        font-family: "Bitcount Single";
        margin-top: 5px;
        color: var(--primary-color);
    }
}


.side {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .online-users,
    .latest-threads {
        height: auto;
        box-shadow: var(--primary-color) 0 0 5px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        flex-grow: 1;

        h3 {
            margin-top: 8px;
            margin-bottom: 3px;
            border-bottom: solid var(--primary-color);
        }
    }

    .online-users {
        max-height: 35vh;
        align-items: stretch;
    }

    .side-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .users {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .users::-webkit-scrollbar {
        width: 6px;
    }

    .users::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 4px;
    }

    .users::-webkit-scrollbar-track {
        background: transparent;
    }

    .user,
    .thread {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .admin {
        font-weight: bold;
        color: var(--tertiary-color);
    }

    .moderator {
        font-weight: bold;
        color: var(--primary-color);
    }

    .thread {

        box-shadow: var(--primary-color) 0 0 5px;
        border-radius: 12px;
        padding: 6px;
        margin: 10px 10px;
        transition: all 0.3s ease;

        a {
            text-decoration: none;
            color: var(--primary-color);
            font-size: 16px;
            position: relative;
        }

        /* position: relative di a e ::after servono a rendere l'area di a cliccabile maggiore (pari al tasto) */
        a::after {
            content: "";
            position: absolute;
            inset: -14px;
        }
    }

    .thread:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 1000px) {
    .side {
        display: none;
    }
}